.text-white {
	color: #ffffff;
}
.accordion li.active .content {
	max-height: 2000px;
	background-color: rgba(0,0,0,0.5);
	padding: 0 20px;
}



.accordion-2 .title {
	border-bottom: 1px solid #f9ad19;
	color: #f9ad19;
}

.accordion-2 .title:before {
	content: '\e61a';
}

.accordion-2 .active .title:before {
	content: '\e622';
}

.checkbox-option, .radio-option {
	font-size: 10px;
	line-height: 10px;
}




::-webkit-input-placeholder {
	text-transform: none;
	font-weight: 500;
	letter-spacing: 0px;
	color: #ccc;
	font-size: inherit;
  }
  :-moz-placeholder {
	text-transform: none;
	font-weight: 500;
	letter-spacing: 0px;
	color: #ccc;
	font-size: inherit;
  }
  ::-moz-placeholder {
	text-transform: none;
	font-weight: 500;
	letter-spacing: 0px;
	color: #ccc;
	font-size: inherit;
  }
  :-ms-input-placeholder {
	text-transform: none;
	font-weight: 500;
	letter-spacing: 0px;
	color: #ccc;
	font-size: inherit;
  }


  select {
	font-size: inherit;
	text-transform: none;
	font-weight: 500;
	color: #555555
  }


  	


/*
 * FONTS
 * --------------------------------------------------
 */
.f12 {
	font-size: 12px;
	line-height: 12px;
}
.f14 {
	font-size: 14px;
	line-height: 14px;
}
.f16 {
	font-size: 16px;
	line-height: 16px;
}



/*
 * READ MORE
 * --------------------------------------------------
 */
 .sidebar-box {
 	max-height: 420px;
 	position: relative;
 	overflow: hidden;
 }
 .sidebar-box .read-more { 
 	position: absolute; 
 	bottom: 0; 
 	left: 0;
 	width: 100%; 
 	text-align: center; 
 	margin: 0; padding: 30px 0; 
 	background-image: linear-gradient(to bottom, transparent, white);
 }


/*
 * FONTS
 * --------------------------------------------------
 */

 /*Morebi Rounded*/
 @font-face {
 	font-family: 'Morebi Rounded Bold';
 	src: url('../fonts/morebirounded/MorebiRounded-Bold.eot');
 	src: url('../fonts/morebirounded/MorebiRounded-Boldd41d.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/morebirounded/MorebiRounded-Bold.woff') format('woff'),
 	url('../fonts/morebirounded/MorebiRounded-Bold.ttf') format('truetype');
 	font-weight: bold;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'Morebi Rounded Italic';
 	src: url('../fonts/morebirounded/MorebiRounded-Italic.eot');
 	src: url('../fonts/morebirounded/MorebiRounded-Italicd41d.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/morebirounded/MorebiRounded-Italic.woff') format('woff'),
 	url('../fonts/morebirounded/MorebiRounded-Italic.ttf') format('truetype');
 	font-weight: normal;
 	font-style: italic;
 }

 @font-face {
 	font-family: 'Morebi Rounded Medium';
 	src: url('../fonts/morebirounded/MorebiRounded-Medium.eot');
 	src: url('../fonts/morebirounded/MorebiRounded-Mediumd41d.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/morebirounded/MorebiRounded-Medium.woff') format('woff'),
 	url('../fonts/morebirounded/MorebiRounded-Medium.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'Morebi Rounded Regular';
 	src: url('../fonts/morebirounded/MorebiRounded-Regular.eot');
 	src: url('../fonts/morebirounded/MorebiRounded-Regulard41d.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/morebirounded/MorebiRounded-Regular.woff') format('woff'),
 	url('../fonts/morebirounded/MorebiRounded-Regular.ttf') format('truetype');
 	font-weight: normal;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'Morebi Rounded Thin';
 	src: url('../fonts/morebirounded/MorebiRounded-Thin.eot');
 	src: url('../fonts/morebirounded/MorebiRounded-Thind41d.eot?#iefix') format('embedded-opentype'),
 	url('../fonts/morebirounded/MorebiRounded-Thin.woff') format('woff'),
 	url('../fonts/morebirounded/MorebiRounded-Thin.ttf') format('truetype');
 	font-weight: 100;
 	font-style: normal;
 }
 body, p {
 	font-size: 20px;
 	line-height: 34px;
 	font-weight: 400;
 	font-family: 'Morebi Rounded Regular',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
 }

 .menu {
 	font-family: 'Morebi Rounded Bold';
 }


 input, select, textarea {
 	font-family: 'Morebi Rounded Medium';
 }

 button, btn {
 	font-family: 'Morebi Rounded Bold';
 }

 h1, h2, h3, h4, h5, h6 {
 	font-family: 'Morebi Rounded Medium';
 }

/*
 * MATERIAL ICONS
 * --------------------------------------------------
 */
 @font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
  }
  
  .material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
  }
  

 /*
 * FLASH RADIO ON MOBILE
 * --------------------------------------------------
 */
.sodahnativeflashradio4 {
		height:80px;
	}
 @media only screen and (max-width:599px) {
	.sodahnativeflashradio4 {
		height:40px;
	}
}